/*Base*/
body {
  padding-bottom: 70px;
}
.middle-title {
  font-size: 20px;
}
.middle-content {
  font-size: 16px;
}


/*Layout*/
.mHeader {
  background-color: #82DD78;
}



/*Module*/
.sortdropdown {
  position: absolute;
  top: 10px;
}
.searchbar {
  position: absolute;
  top: 10px;
}
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #82DD78;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/*State*/
.dropdown-menu > li {
  cursor: pointer;
}

/*Theme*/
